body {
    background-color: lightgrey;
    color: darkgreen;
}

.container {
    margin: auto;
    width: 50%;
}

#todo_tb {
    background-color: rgb(246, 167, 253);
    margin-top: 20px;
    border: 1px solid black;
}


#input_button {
    color: red;
    background-color: black;
}

#input_button:hover {
    color: yellow;
}


